---
permalink: en_index.html
---


{% include header_en.html %}

<!-- link to language counter part -->
    <div class="lang">
        <p><a href="index.html">ES</a></p>
    </div>
</div>

<!-- content -->
    <div class="column site-wrapper">

<!-- radio -->

    <div class="radio horizontal">
        <div class="radio-name">
            <p>Radio: La Luz del Mundo</p>
        </div>
        <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true">
        </div>
    </div>

        <div class="column content">

        </div>
    </div>

{% include footer_en.html %}
