---
permalink: en_temas.html
---

{% include header_en.html %}

    <!-- link to language counter part -->
        <div class="lang">
            <p><a href="temas.html">ES</a></p>
        </div>
    </div>

    <section class="column site-wrapper">
        <div class="content">
            <h2 id="themes">Subjects</h2>
            <div class="options">
                <a href="en_instruments.html">Musical instruments in worship</a>
            </div>
        </div>
    </section>

{% include footer_en.html %}
