---
---

{% include header.html %}


<!-- link to language counter part -->
    <div class="lang">
        <p><a href="en_index.html">EN</a></p>
    </div>
</div>

<!-- content -->
    <div class="column site-wrapper">

<!-- radio -->

        <div class="radio horizontal">
            <div class="radio-name">
                <p>Radio: La Luz del Mundo</p>
            </div>
            <div class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true">
            </div>
        </div>

        <div class="fb-comments" data-href="http://www.lldmny.org" data-width="260"
        data-numposts="5" data-mobile="Auto-detected"></div>

<!-- radio status -->

        <!-- <div class="status">
            <p id=statusOn>
                On Air
            </p>
        </div> -->

<!-- radio status end -->

<!-- radio end -->

        <div class="horizontal index-content">

            <!-- <section id="left-side">
                <p>Somos la Iglesia del Dios Vivo, Columna y Apoyo
                    de la Verdad, La Luz del Mundo.
                </p>
                <p>
                    La restauracion de la primitiva iglesia que el Se&ntilde;or
                    Jesucristo vino a fundar.
                </p>
                <p>
                    Proclamamos el evangelio que Cristo entrego a sus Apostoles,
                    y que sigue revelando atraves de sus enviados en estos tiempos de gracia.
                </p>
                <p>
                    Afirmamos que sobre la faz de la tierra, hay un hombre de Dios
                    llamado Naason Joaquin Garcia, Siervo de Dios y Apostol de Jesucristo.
                </p>
            </section> -->

            <!-- <section id="right-side" >
                <h1>Oracion en vivo</h1>
                <div class="video">
                    <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/99y2ONlpYKE"
                        frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </section> -->

        </div>
    </div>

{% include footer.html %}
