---
permalink: instruments.html
---

{% include header.html %}
    <!-- link to language counter part -->
        <div class="lang">
            <p><a href="eng_instruments.html">EN</a></p>
        </div>
    </div>

        <section class="column site-wrapper">

            <div class="bible content">

                    <h1>
                        Instrumentos musicales en el culto a Dios
                    </h1>

                    <p class="thesis">
                        El uso de los instrumentos musicales en el culto a Dios,
                        era uno de las characteristicas de la adoracion que el
                        pueblo de Israel presentaba mientras vivian bajo la ley
                        dada a Moises.</br>
                        Posteriormente, Jesucristo revela la adoracion verdadera
                        mientras el culto anterior - siendo sombra de lo real y verdadero -
                        es quitada, incluyendo en si, entre otras cosas, el uso de instrumentos. </br>
                        Ahora en el tiempo de la gracia, Cristo establece la adoracion espiritual.
                    </p>

                <div class="study">

                    <div class="base bible-text">
                        <p>
                            San Juan 4 : 20-24
                        </p>
                        <p>
                            20 Nuestros padres adoraron en este monte, y vosotros dec&iacute;s que
                            en Jerusal&eacute;n es el lugar donde es necesario adorar. </br>
                            21 D&iacute;cele Jes&uacute;s: Mujer, cr&eacute;eme, que la hora viene, cuando ni en
                            este monte, ni en Jerusal&eacute;n adorar&eacute;is al Padre. </br>
                            22 Vosotros ador&aacute;is lo que no sab&eacute;is; nosotros adoramos lo que
                            sabemos: porque la salud viene de los Jud&iacute;os. </br>
                            23 Mas la hora viene, y ahora es, cuando los verdaderos adoradores
                            adorar&aacute;n al Padre en esp&iacute;ritu y en verdad; porque tambi&eacute;n el Padre
                            tales adoradores busca que adoren.</br>
                            24 Dios es Esp&iacute;ritu; y los que le adoran, en esp&iacute;ritu y en verdad
                             es necesario que adoren.
                        </p>
                    </div>


                        <h2 class="h2">
                            La adoracion bajo la ley &dtrif;
                        </h2>
<!-- argument -->
                    <div class="arg">

                        <p class="comment">
                            Cristo aclara que la salvacion viene de los judios dando a entender
                            que Jerusal&eacute;n era el lugar indicado para adorar.
                        </p>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 20
                            </p>
                            <p>
                                20 Nuestros padres adoraron en este monte, y vosotros dec&iacute;s
                                que en Jerusalen es el lugar donde es necesario adorar. </br>
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 22
                            </p>
                            <p>
                                22 Vosotros ador&aacute;is lo que no sab&eacute;is; nosotros adoramos lo que
                                sabemos: porque la salud viene de los Jud&iacute;os. </br>
                            </p>
                        </div>

                        <h3>Jerusal&eacute;n: sitio de adoracion</h3>

                        <p class="comment">
                            Dios escoge Jerusal&eacute;n como sitio de su santuario.
                        </p>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 6 : 5-6
                            </p>
                            <p>
                                5 Desde el d&iacute;a en que saqu&eacute; a mi pueblo de la tierra de Egipto, no escog&iacute;
                                ninguna ciudad de entre todas las tribus de Israel en la cual edificar una
                                casa para que estuviera all&iacute; mi nombre, ni escog&iacute; a hombre alguno por
                                pr&iacute;ncipe sobre mi pueblo Israel;</br>
                                6 mas escog&iacute; a Jerusal&eacute;n para que mi nombre estuviera all&iacute;, y escog&iacute; a David para que estuviera sobre mi pueblo Israel.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 6 : 20
                            </p>

                            <p>
                                20 Que tus ojos est&eacute;n abiertos d&iacute;a y noche sobre esta casa, sobre el
                                lugar del cual has dicho que pondr&iacute;as all&iacute; tu nombre, para que oigas
                                la oraci&oacute;n que tu siervo har&aacute; sobre este lugar.
                            </p>
                        </div>

                        <p class="comment">
                            Aun en cautiverio, Israel lamentaba no poder cantar por estar lejos de la ciudad santa.
                        </p>

                        <div class="bible-text">
                            <p>
                                Salmo 137 : 4
                            </p>

                            <p>
                                &iquest;C&oacute;mo cantaremos canci&oacute;n de Jehov&aacute; En tierra de extra&ntilde;os&quest;
                            </p>
                        </div>

                        <h3>Israel adora con instrumento</h3>

                        <p class="comment">
                            Los levitas y sacerdotes eran los que tocaban instrumento durante
                            el holocausto.</br>
                            La musica instrumental solo duraba mientras habia acci&oacute;n de holocausto.
                        </p>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 29 : 25-29
                            </p>

                            <p>
                                25 Luego situ&oacute; a los levitas en la casa del Se&nacute;or con c&iacute;mbalos, con
                                arpas y con liras, conforme al mandamiento de David y de Gad, el
                                vidente del rey, y del profeta Nat&aacute;n; porque el mandamiento proced&iacute;a
                                del Se&nacute;or por medio de sus profetas. <br>
                                26 Los levitas se colocaron con los instrumentos musicales de David,
                                 y los sacerdotes con las trompetas. </br>
                                27 Entonces Ezequ&iacute;as mand&oacute; ofrecer el holocausto sobre el altar.
                                Cuando el holocausto comenz&oacute;, tambi&eacute;n comenz&oacute; el canto al SEÑOR con las
                                 trompetas, acompa&ntilde;ado por los instrumentos de David, rey de Israel.</br>
                                28 Mientras toda la asamblea adoraba, tambi&eacute;n los cantores cantaban y
                                las trompetas sonaban; todo esto continu&oacute; hasta que se consumi&oacute; el holocausto.</br>
                                29 Despu&eacute;s de consumido el holocausto, el rey y todos los que estaban
                                con &eacute;l se inclinaron y adoraron.
                            </p>
                        </div>
                    </div>

<!-- end of arg -->

                    <h2 class="h2">La adoracion en la gracia &dtrif;</h2>

<!-- argument -->   <div class="arg">

                        <p class="comment">
                            Cristo declara que el lugar para adorar a Dios ya no seria
                            en Jerusalen pues el tiempo de la gracia habia ya iniciado con su venida.
                        </p>


                        <div class="bible-text">
                            <p>
                                San Juan 4 : 21
                            </p>

                            <p>
                                21 D&iacute;cele Jes&uacute;s: Mujer, cr&eacute;eme, que la hora viene, cuando ni en este monte,
                                 ni en Jerusal&eacute;n adorar&eacute;is al Padre.
                            </p>
                        </div>

                        <p class="comment">
                            Dios buscaba la adoracion espiritual y verdadera.
                            Esa antigua manera de adorar no iba a continuar pues ya no era aceptable
                            ante Dios.
                        </p>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 23
                            </p>

                            <p>
                                23 Mas la hora viene, y ahora es, cuando los verdaderos adoradores
                                adorar&aacute;n al Padre en esp&iacute;ritu y en verdad; porque tambi&eacute;n el Padre
                                tales adoradores busca que adoren.
                            </p>
                        </div>

                        <p class="comment">
                            La adoracion que se hacia en Jerusalen era carnal y material.
                        </p>

                        <div class="bible-text">
                            <p>
                                Hebreos 9 : 1
                            </p>

                            <p>
                                Tenia empero tambi&eacute;n el primer pacto reglamentos del culto, y
                                santuario mundano.
                            </p>
                        </div>

                        <h3>Establecimiento de la adoracion espiritual</h3>

                        <p class="comment">
                            Siendo cumplidor de la ley, Cristo lo quita para establecer una nueva promesa.
                            Al quitar la ley, termina la adoracion que se hacia bajo la ley, significando
                            tambien, el fin de ofrecer sacrificios acompa&ntilde;ado de instrumentos.
                        </br>
                        </p>

                        <div class="bible-text">
                            <p>
                                Hebreos 10 : 1
                            </p>

                            <p>
                                1 Porque la ley, teniendo la sombra de los bienes venideros, no
                                la imagen misma de las cosas, nunca puede, por los mismos sacrificios
                                 que ofrecen continuamente cada a&ntilde;o, hacer perfectos &aacute; los que se allegan.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                Hebreos 10 : 9
                            </p>

                            <p>
                                9 Entonces dijo: Heme aqu&iacute; para que haga, oh Dios, tu voluntad. Quita
                                lo primero, para establecer lo postrero.
                            </p>
                        </div>

                        <h3>Adoracion espiritual</h3>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 24
                            </p>

                            <p>
                                24 Dios es Esp&iacute;ritu; y los que le adoran, en esp&iacute;ritu y en verdad es
                                necesario que adoren.
                            </p>
                        </div>

                        <p class="comment">
                            El Apostol se refiere a la iglesia como un sacerdocio santo, libres para
                            presentar sacrificios espirituales a Dios.
                        </p>

                        <div class="bible-text">
                            <p>
                                1 Pedro 2 : 5
                            </p>

                            <p>
                                5 Vosotros tambi&eacute;n, como piedras vivas, sed edificados una casa
                                espitirual, y un sacerdocio santo, para ofrecer sacrificios
                                espirituales, agradables &aacute; Dios por Jesucristo.
                            </p>
                        </div>

                        <h3>Sacrificio de Alabanza</h3>

                        <p class="comment">
                            Una de las characteristicas de la iglesia de Cristo es el cantar con
                            el espiritu y el entendimiento para adorar a Dios.
                        </p>

                        <div class="bible-text">
                            <p>
                                Hebreos 13 : 15
                            </p>

                            <p>
                                15 As&iacute; que, ofrezcamos por medio de &eacute;l &aacute; Dios siempre sacrificio de
                                alabanza, es &aacute; saber, fruto de labios que confiesen &aacute; su nombre.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                1 Corintios 14 : 15
                            </p>

                            <p>
                                15 &iquest;Qu&eacute; pues&quest; Orar&eacute; con el esp&iacute;ritu, mas orar&eacute; tambi&eacute;n con entendimiento;
                                cantar&eacute; con el esp&iacute;ritu, mas cantar&eacute; tambi&eacute;n con entendimiento.
                            </p>
                        </div>
                    </div>
<!-- end of arg -->
                </div>
            </div>
        </section>

{% include footer.html %}
