---
permalink: instruments.html
---

{% include header.html %}
    <!-- link to language counter part -->
        <div class="lang">
            <p><a href="eng_instruments.html">EN</a></p>
        </div>
    </div>

        <section class="column site-wrapper">

            <div class="content">

                <div class="study">

                    <h1>
                        Instrumentos musicales en el culto a Dios
                    </h1>

                    <p class="thesis">
                        El uso de los instrumentos musicales en el culto a Dios,
                        era uno de las characteristicas de la adoracion que el
                        pueblo de Israel presentaba mientras vivian bajo la ley
                        dada a Moises.</br>
                        Posteriormente, Jesucristo establece la adoracion verdadera
                        mientras ese culto anterior, que fue sombra de lo real y verdadero,
                        llego a su fin. Esto incluye, entre otras cosas, el uso de instrumentos. </br>
                        El hijo de Dios establece la adoracion espiritual, que es aceptada
                        por Dios en este tiempo de gracia.
                    </p>

                    <p>
                        Texto Base
                    </p>

                    <div class="bible-text">
                        <p>
                            San Juan 4 : 20-24
                        </p>
                        <p>
                            20 Nuestros padres adoraron en este monte, y vosotros decís que
                            en Jerusalem es el lugar donde es necesario adorar. </br>
                            21 Dícele Jesús: Mujer, créeme, que la hora viene, cuando ni en
                            este monte, ni en Jerusalem adoraréis al Padre. </br>
                            22 Vosotros adoráis lo que no sabéis; nosotros adoramos lo que
                            sabemos: porque la salud viene de los Judíos. </br>
                            23 Mas la hora viene, y ahora es, cuando los verdaderos adoradores
                            adorarán al Padre en espíritu y en verdad; porque también el Padre
                            tales adoradores busca que adoren.</br>
                            24 Dios es Espíritu; y los que le adoran, en espíritu y en verdad
                             es necesario que adoren.
                        </p>
                    </div>


                        <h2 class="h2">
                            La adoracion bajo la ley &dtrif;
                        </h2>
<!-- argument -->
                    <div class="arg">
                        <div class="bible-text">
                            <p>
                                San Juan 4 : 20
                            </p>
                            <p>
                                20 Nuestros padres adoraron en este monte, y vosotros decís
                                que en Jerusalen es el lugar donde es necesario adorar. </br>
                            </p>
                        </div>

                        <p class="comment">
                            Cristo le aclara que solo los judios conocian la manera de adorar a Dios.
                        </p>

                        <h3>Jerusalem: lugar de adoracion</h3>

                        <p class="comment">
                            Dios escoge Jerusalem como sitio de su santuario
                        </p>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 6 : 5-6
                            </p>
                            <p>
                                5 "Desde el día en que saqué a mi pueblo de la tierra de Egipto, no escogí
                                ninguna ciudad de entre todas las tribus de Israel en la cual edificar una
                                casa para que estuviera allí mi nombre, ni escogí a hombre alguno por
                                príncipe sobre mi pueblo Israel;</br>
                                6 mas escogí a Jerusalén para que mi nombre estuviera allí, y escogí a David para que estuviera sobre mi pueblo Israel."
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 6 :20
                            </p>

                            <p>
                                20 Que tus ojos estén abiertos día y noche sobre esta casa, sobre el
                                lugar del cual has dicho que pondrías allí tu nombre, para que oigas
                                la oración que tu siervo hará sobre este lugar.
                            </p>
                        </div>

                        <p class="comment">
                            Aun en cautiverio, Israel lamentaba no poder cantar.
                        </p>

                        <div class="bible-text">
                            <p>
                                Salmo 137 : 4
                            </p>

                            <p>
                                ¿Cómo cantaremos canción de Jehová En tierra de extraños?
                            </p>
                        </div>

                        <h3>Israel adora con instrumento</h3>

                        <p class="comment">
                            Los levitas y sacerdotes eran los que tocaban instrumento durante
                            el holocausto.</br>
                            La musica instrumental solo duro mientras habia acción de holocausto.
                        </p>

                        <div class="bible-text">
                            <p>
                                2 Cronicas 29 : 25-29
                            </p>

                            <p>
                                25 Luego situó a los levitas en la casa del SEÑOR con címbalos, con
                                arpas y con liras, conforme al mandamiento de David y de Gad, el
                                vidente del rey, y del profeta Natán; porque el mandamiento procedía
                                del SEÑOR por medio de sus profetas. <br>
                                26 Los levitas se colocaron con los instrumentos musicales de David,
                                 y los sacerdotes con las trompetas. </br>
                                27 Entonces Ezequías mandó ofrecer el holocausto sobre el altar.
                                Cuando el holocausto comenzó, también comenzó el canto al SEÑOR con las
                                 trompetas, acompañado por los instrumentos de David, rey de Israel.</br>
                                28 Mientras toda la asamblea adoraba, también los cantores cantaban y
                                las trompetas sonaban; todo esto continuó hasta que se consumió el holocausto.</br>
                                29 Después de consumido el holocausto, el rey y todos los que estaban
                                con él se inclinaron y adoraron.
                            </p>
                        </div>
                    </div>

<!-- end of arg -->

                    <h2 class="h2">La adoracion en la gracia &dtrif;</h2>

<!-- argument -->   <div class="arg">
                        <h4>Cristo introduce y establece la verdadera forma de adorar a Dios.</h4>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 21
                            </p>

                            <p>
                                21 Dícele Jesús: Mujer, créeme, que la hora viene, cuando ni en este monte,
                                 ni en Jerusalem adoraréis al Padre.
                            </p>
                        </div>

                        <p class="comment">
                            La adoracion que se hacia en Jerusalen era carnal y material.
                            No era espiritual o verdadera como lo quizo Dios.
                            Esa antigua manera de adorar no iba a continuar.
                        </p>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 23
                            </p>

                            <p>
                                23 Mas la hora viene, y ahora es, cuando los verdaderos adoradores
                                adorarán al Padre en espíritu y en verdad; porque también el Padre
                                tales adoradores busca que adoren.
                            </p>
                        </div>


                        <div class="bible-text">
                            <p>
                                Hebreos 9 : 1
                            </p>

                            <p>
                                Tenia empero también el primer pacto reglamentos del culto, y
                                santuario mundano.
                            </p>
                        </div>

                        <h3>Establecimiento de adoracion espiritual</h3>

                        <div class="bible-text">
                            <p>
                                Hebreos 10 : 1
                            </p>

                            <p>
                                1 PORQUE la ley, teniendo la sombra de los bienes venideros, no
                                la imagen misma de las cosas, nunca puede, por los mismos sacrificios
                                 que ofrecen continuamente cada año, hacer perfectos á los que se allegan.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                Hebreos 10 : 9
                            </p>

                            <p>
                                9 Entonces dijo: Heme aquí para que haga, oh Dios, tu voluntad. Quita
                                lo primero, para establecer lo postrero.
                            </p>
                        </div>

                        <h3>Adoracion espiritual</h3>

                        <div class="bible-text">
                            <p>
                                San Juan 4 : 24
                            </p>

                            <p>
                                24 Dios es Espíritu; y los que le adoran, en espíritu y en verdad es
                                necesario que adoren.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                1 Pedro 2 : 5
                            </p>

                            <p>
                                5 Vosotros también, como piedras vivas, sed edificados una casa
                                espitirual, y un sacerdocio santo, para ofrecer sacrificios
                                espirituales, agradables á Dios por Jesucristo.
                            </p>
                        </div>

                        <p class="comment">
                            Ahora, los sacrificios espirituales son los que agradan a Dios.</br>
                            Lo que era parte de esa antigua adoracion material no se continua.
                        </p>

                        <h3>Sacrificio de Alabanza</h3>

                        <p class="comment">
                            Una de las characteristicas de la iglesia de Cristo es el cantar con
                            el espiritu y el entendimiento para adorar a Dios.
                        </p>

                        <div class="bible-text">
                            <p>
                                Hebreos 13 : 15
                            </p>

                            <p>
                                15 Así que, ofrezcamos por medio de él á Dios siempre sacrificio de
                                alabanza, es á saber, fruto de labios que confiesen á su nombre.
                            </p>
                        </div>

                        <div class="bible-text">
                            <p>
                                1 Corintios 14 : 15
                            </p>

                            <p>
                                15 ¿Qué pues? Oraré con el espíritu, mas oraré también con entendimiento;
                                cantaré con el espíritu, mas cantaré también con entendimiento.
                            </p>
                        </div>
                    </div>
<!-- end of arg -->
                </div>
            </div>
        </section>

{% include footer.html %}
