---
permalink: temas.html
---

{% include header.html %}

    <!-- link to language counter part -->
        <div class="lang">
            <p><a href="eng_temas.html">EN</a></p>
        </div>
    </div>

    <section class="column site-wrapper">
        <div class="content">
            <h2 id="themes">Temas</h2>
            <div class="options">
                <a href="instruments.html"><p>Adoracion con instrumento</p></a>
            </div>
        </div>
    </section>

{% include footer.html %}
