$primary-color: hsla(223, 50%, 22%, 1)

$accent-color: rgba(151, 153, 165, 1)
$bg-color: #F6F6F8
$link-color: #fff
$selection-color: #FFF498
$bibtext-color: rgba(213, 205, 205, 0.457)


// font

$default-font: 'Roboto', sans-serif
// $text-font: 'Roboto Slab', sans-serif
// $text-font: 'Eb Garamond', serif
$text-font: 'Titilium Web', sans-serif
$text-color: hsla(230, 5%, 24%, 1)
