<body>
    <!-- make site wrapper flex row -->
    <div class="horizontal site-wrapper">

        <!-- space for side bar -->
        <div class="sidebar-space">
            <h1>nothingness</h1>
        </div>

        <!-- div to contain page -->

        <div class="column page">
            <div id="home" class="column logo">
                <a href="index.html"><img src="assets/img/escudo.png" alt="NJG" /></a>
                <p id="iglesia" style="opacity:0;">IGLESIA&#183;DEL&#183;DIOS&#183;VIVO</p>
                <p id="columna" style="opacity:0;">COLUMNA&#183;Y&#183;APOYO&#183;DE&#183;LA&#183;VERDAD</p>
                <p id="luz" style="opacity:0;">LA&#183;LUZ&#183;DEL&#183;MUNDO</p>
                <div class="line"></div>
                <p id ="state" style="opacity:0;">Queens&#183;NY</p>
            </div>
