
<!DOCTYPE html>
<html>
    <head>
        <title>LLDM Queens</title>

        <!--add tags for mobile phone use-->
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- google verfication -->
        <meta name="google-site-verification" content="KPGsTfDpX-yO-8UFlcEd9IaLjp-bSarpnlSckg9OmnU" />

        <!-- <link href="favicon.ico" rel="icon" type="image/x-icon" /> -->
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <!--style sheet-->
            <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    </head>

    <body>


        <section class='horizontal logo-wrap'>
        <div class="logo">
            <img src="assets/img/queenslogo.png" alt="LldmQueensNY" />
        </div>
        </section>

        <div class="horizontal top-bar">

            <a href="index.html"><img src="assets/img/shield.png" alt="NJG" /></a>
