@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,700|Open+Sans|Titillium+Web:300,400,600italic);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

.horizontal {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.top-bar {
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.01em 1em 0em #bcb3b3; }
  .top-bar img {
    height: 3em;
    margin-top: 0.05em; }

.lang {
  font: 1em "Roboto", sans-serif;
  position: fixed;
  right: 1.7em;
  top: 0.3em; }
  .lang p a {
    color: #9799a5; }

.logo-wrap {
  width: 100%;
  padding: 0 5.5em 0;
  margin: 120px auto 2.5em;
  max-width: 825px; }

.logo-wrap img {
  height: 8em; }

.logo p {
  width: 100%;
  margin: 0; }

.site-wrapper {
  background-color: #fff;
  min-height: 70%;
  width: 100%; }

.index-content {
  max-width: 800px;
  width: 100%;
  padding: 0 2em; }

.content {
  max-width: 800px;
  width: 100%;
  padding: 0 5.5em 3em; }

.header {
  width: 100%;
  text-align: left;
  margin-top: 2em; }
  .header p {
    font: 2em "Roboto", sans-serif;
    color: #182e4e;
    line-height: 0.9em;
    margin: 0; }
  .header span {
    font-size: 0.5em;
    color: #777; }

.title {
  width: 100%;
  margin-bottom: 1em; }
  .title p {
    text-align: right;
    border-top: 0.2em solid #1c2c54;
    padding-top: 0.3em;
    font: 0.85em "Roboto", sans-serif;
    text-transform: uppercase; }

.banner {
  margin-bottom: 2em; }
  .banner img {
    width: 100%; }

.amplitude-play-pause.amplitude-paused {
  width: 3em;
  height: 4em;
  background-color: #1c2c54; }

.amplitude-play-pause.amplitude-playing {
  width: 3em;
  height: 4em;
  background-color: #777; }

.bio {
  display: none;
  background-color: rgba(195, 184, 177, 0);
  background-image: -webkit-linear-gradient(rgba(195, 184, 177, 0), rgba(195, 184, 177, 0.6));
  background-image: linear-gradient(rgba(195, 184, 177, 0), rgba(195, 184, 177, 0.6)); }
  .bio p {
    font: 1em "Titilium Web", sans-serif;
    text-align: justify;
    text-indent: 1em;
    margin: 0.97em 0 0.97em;
    line-height: 1.75em;
    color: #3a3b40;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }
  .bio p:first-child {
    text-indent: 0; }
  .bio span {
    font: bold 1.3em "Titilium Web", sans-serif;
    color: #3a3b40; }
  .bio p:nth-child(9) {
    text-indent: 0;
    margin: 0.2em 0 0.2em;
    font-weight: bold;
    font-size: 2em; }
  .bio blockquote {
    font: 1em "Roboto", sans-serif;
    line-height: 1.4em;
    padding-left: 1em;
    border-left: 0.5em solid #e0e1e6; }

.bio-button {
  width: 100%;
  font: 1.2em "Roboto", sans-serif;
  cursor: pointer; }
  .bio-button p {
    text-align: right;
    padding: 0.3em 0.5em 0.3em;
    margin: 0; }

.line {
  height: 0.2em;
  width: 100%;
  background-color: #1c2c54;
  margin: 1em 0 1em; }

.notes {
  width: 100%;
  text-align: right;
  font: 0.7em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

.map {
  width: 100%; }

.Ustream {
  width: 42%;
  min-width: 400px; }

#left-side {
  width: 60%;
  padding-right: 2em; }

.column {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.footer {
  width: 100%;
  padding: 0 5.5em 0;
  background-color: #1c2c54; }
  .footer a {
    color: #fff; }
  .footer div {
    height: 20em;
    width: 32%;
    padding: 2em 1.2em 1.2em; }
    .footer div p:first-child {
      border-top: 0.4em solid #fff;
      padding-top: 1em;
      margin: 0;
      font-size: 0.9em; }
    .footer div p, .footer div a {
      width: 100%;
      font: bold 1em "Open Sans", sans-serif;
      text-align: left;
      color: #fff; }
  .footer .social {
    text-align: right; }
    .footer .social p:nth-child(2) {
      text-align: left; }
    .footer .social img {
      margin: 0 0.5em 0;
      height: 40px; }

.copy {
  background-color: #1c2c54;
  text-align: center;
  padding: 0 5.5em 1em;
  color: #dcdfe5;
  font: 0.4em "Open Sans", sans-serif; }
  .copy p {
    margin: 0; }

.slide {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  overflow: auto;
  background-color: #fff;
  -webkit-transform: translateY(-70em);
  -moz-transform: translateY(-70em);
  -ms-transform: translateY(-70em);
  -o-transform: translateY(-70em);
  transform: translateY(-70em);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s; }
  .slide ul {
    margin-top: 2em; }
    .slide ul li {
      padding: 0.5em 0 0.5em;
      font: 2em "Open Sans", sans-serif;
      border-bottom: 0.1em solid #666060; }
  .slide ul, .slide a {
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: #666060; }

.slide_social {
  width: 90%;
  margin: 3em 0 0;
  text-align: center; }
  .slide_social img {
    height: 3em; }

.slide_footer {
  color: #858585;
  font-size: 0.8em; }
  .slide_footer img {
    height: 3em; }

#trigger {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0.5em;
  left: 1.5em; }

.nav-trigger {
  width: 40px;
  height: 40px; }
  .nav-trigger span {
    position: absolute;
    top: 43%;
    left: 13%;
    width: 36px;
    height: 0.28rem;
    margin-top: -2px;
    font-size: 0px;
    background-color: #9799a5;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  .nav-trigger span:before, .nav-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9799a5;
    content: "";
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .nav-trigger span:before {
    -webkit-transform: translateY(-250%);
    -moz-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    -o-transform: translateY(-250%);
    transform: translateY(-250%); }
  .nav-trigger span:after {
    -webkit-transform: translateY(250%);
    -moz-transform: translateY(250%);
    -ms-transform: translateY(250%);
    -o-transform: translateY(250%);
    transform: translateY(250%); }

.nav-bar-open .nav-trigger span {
  background-color: transparent; }
.nav-bar-open .nav-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }
.nav-bar-open .nav-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }
.nav-bar-open .slide {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

#themes {
  font: 300 2em "Roboto", sans-serif;
  color: #3a3b40;
  padding-bottom: 0.2em;
  border-bottom: 0.14em solid #9799a5; }

.options a {
  font: 500 1.5em "Roboto", sans-serif;
  color: #3a3b40;
  padding-left: 1em; }

.bible h1 {
  font: 700 2em "Roboto", sans-serif;
  width: 40%;
  color: #3a3b40;
  margin-bottom: 1em; }

.thesis {
  font: 400 18px "Titilium Web", sans-serif;
  padding: 1em 0 1em;
  margin: 0 0 3em;
  text-align: justify;
  border-bottom: 0.14em solid #9799a5;
  color: #3a3b40;
  line-height: 1.35em; }

.study {
  width: 100%;
  color: #3a3b40; }
  .study .bible-text {
    margin: 1em 0 1em;
    width: 100%; }
    .study .bible-text p:first-child {
      font: 700 1.1em "Roboto", sans-serif; }
    .study .bible-text p:nth-child(2) {
      font: italic 600 0.85em "Titilium Web", sans-serif;
      margin: 0.5em 4em 0;
      border-bottom: 0.15em solid #9799a5;
      background-color: rgba(213, 205, 205, 0.457);
      line-height: 1.6em;
      display: none;
      height: 0;
      overflow: scroll; }
  .study .comment {
    font: 300 0.95em "Titilium Web", sans-serif;
    line-height: 1.5em; }
  .study h2 {
    font: 300 1.5em "Roboto", sans-serif;
    padding: 1em 0 0 1em; }
  .study h3 {
    font: 300 2em "Roboto", sans-serif;
    margin: 0; }
  .study .base span {
    font: 2em "Titilium Web", sans-serif; }

.arg {
  display: none;
  padding-left: 1.5em;
  padding-bottom: 1em;
  background-color: rgba(195, 184, 177, 0);
  background-image: -webkit-linear-gradient(rgba(195, 184, 177, 0), rgba(195, 184, 177, 0.6));
  background-image: linear-gradient(rgba(195, 184, 177, 0), rgba(195, 184, 177, 0.6));
  border-left: 0.2em solid #9799a5; }

@media screen and (max-width: 640px) {
  .site-wrapper {
    min-height: 70%;
    width: 100%;
    margin: 0;
    border: none;
    padding-bottom: 2em; }

  .top-bar .lang {
    font: 0.85em "Open Sans", sans-serif;
    position: fixed;
    top: 0.6em;
    right: 1.7em; }
  .top-bar img {
    height: 2.5em;
    margin-top: 0.2em; }

  .content {
    padding: 0 1.5em 3em; }

  .map, .video {
    width: 100%; }

  .Ustream {
    width: 94%;
    min-width: initial; }

  .title p {
    padding-top: 0.3em;
    font-size: 0.69em;
    text-transform: uppercase;
    margin-top: 0; }

  .logo {
    padding: 0; }
    .logo img {
      display: block; }

  .logo-wrap {
    margin: 100px auto 1.5em; }

  /*************** trigger */
  #trigger {
    display: block;
    position: fixed;
    top: 0.5em;
    bottom: auto;
    left: 1em;
    height: 50px;
    width: 50px; }

  .nav-trigger {
    height: 50px;
    width: 50px; }
    .nav-trigger span {
      top: 50%;
      width: 30px;
      height: 0.2rem; }

  .slide ul li {
    font-size: 1.3em;
    padding: 0.45em 0 0.45em; }

  .container {
    width: 90%;
    margin: 2em; }

  .header {
    padding: 0;
    margin-bottom: 0.5em; }
    .header p {
      font-size: 1.3em; }

  .banner {
    margin-bottom: 1em; }

  .bio p {
    font-size: 0.9em; }
  .bio p:nth-child(9) {
    font-size: 1.5em; }
  .bio blockquote {
    margin: 1em; }
  .bio span {
    font-size: 1.1em; }

  .line {
    margin: 1em 0 0.1em; }

  .notes {
    text-align: center;
    font-size: 0.65em; }

  .horizontal {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap; }

  .footer {
    padding: 0 0.5em 0; }
    .footer div {
      height: auto;
      width: 100%;
      padding: 1.2em 1.2em 0; }

  .social img {
    height: 2.2em; }

  .bible h1 {
    width: 66%; }

  .thesis {
    font-size: 16px;
    text-align: justify; }

  .study .bible-text p:first-child {
    padding: 0;
    margin-top: 2em; }
  .study .bible-text p:nth-child(2) {
    margin: 0; }
  .study h2 {
    font-size: 1.3em;
    padding: 0;
    margin: 1.5em 0 1.5em; }
  .study h3 {
    margin: 0.5em 0 0.5em; }
  .study .comment {
    padding: 0; }
  .study .arg {
    padding: 0 0 1em 1.5em; }

  #left-side {
    width: 100%;
    padding: 0; }

  #right-side {
    width: 100%; } }
@media screen and (max-height: 400px) {
  .slide ul {
    margin-top: 0; }
    .slide ul li {
      font-size: 1em; } }

/*# sourceMappingURL=main.css.map */
