html, body
{
    height:100%;
}

body

.site-wrapper
{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;
    background-color:hsla(223, 46%, 23%, 1);
    height:100%;
    width:100%;
}

/*logo*/
.logo
{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;
    margin:3em;
    background-color:hsla(223, 27%, 16%, .6);
    border:.7em solid #1c2c54;
    padding:2em;
    opacity:0;
}

.symb
{
    opacity:0;
}

.logo p
{
    color:hsla(51, 15%, 95%, 0.92);
    margin:0;
}

#iglesia
{

    font-family:'Mate SC', serif;
    font-size:1em;
    letter-spacing:.5em;
}

#columna
{

    font-family:'Mate SC', serif;
    font-size:1.1em;
    letter-spacing:.4em;
}

#luz
{
    font-family:'Rosario', sans-serif;
    font-size:2.5em;
    letter-spacing:.2em;
    font-weight:bold;
    color:hsla(51, 15%, 95%, 0.98);
}

#state
{
    font-family:'Carme',sans-serif;
    font-size:1.3em;
    letter-spacing:.7em;
}

@media screen and (max-width:500px),screen and (max-height:500px)
{
    .logo
    {
        margin:2em;
        padding:.5em;
    }

    #iglesia
    {
        font-size:1.15em;
        letter-spacing:.25em;
    }
    #columna
    {
        font-size:.8em;
        letter-spacing:.25em;
    }
    #luz
    {
        font-size:1.5em;
    }
    #state
    {
        font-size:1.3em;
    }
}

/*bar*/

.media
{
    display:-webkit-flex;
    display:flex;
    opacity:0;
    width:100%;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-justify-content:space-around;
    justify-content:space-around;
    -webkit-align-items:center;
    align-items:center;
    color:#fff;
    margin:2em;
    font-size:1.2em;
}
