.site-wrapper
    background-color: #fff
    min-height: 70%
    width: 100%

.content
    max-width: 800px
    width: 100%
    padding: 0 5.5em 3em

.header
    width: 100%
    text-align: left
    margin-top: 2em

    p
        font: 2em $text-font
        color: hsla(216, 52%, 20%, 1)
        line-height: .9em
        margin: 0

    span
        font-size: .5em
        color: #777


.title
    width: 100%
    margin-bottom: 1em

    p
        text-align: right
        border-top: .2em solid hsla(223, 50%, 22%, 1)
        padding-top: .3em
        font: .85em $sub-heading
        text-transform: uppercase


.banner
    margin-bottom: 2em

    img
        width: 100%


.bio
    display: none

    p
        font: .97em $text-font
        text-align: justify
        text-indent: 1em
        margin: .97em 0 .97em
        line-height: 1.75em
        color: $text-color
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility


    p:first-child
        text-indent: 0


    span
        font-weight: bold
        font-size: 1.3em



    p:nth-child(9)
        text-indent: 0
        margin: .2em 0 .2em
        font-weight: bold
        font-size: 2em

    blockquote
        font-size: 1.1em
        font-weight: bold
        padding-left: 1em
        border-left: .5em solid hsla(230, 10%, 89%, 1)


.bio-button
    width: 100%
    font: 1.2em 'Open Sans',sans-serif
    cursor: pointer

    p
        text-align: right
        padding: .3em .5em .3em
        margin: 0


.line
    height: .2em
    width: 100%
    background-color: #1c2c54
    margin: 1em 0 1em


.notes
    width: 100%
    text-align: right
    font: .7em 'Montserrat',sans-serif
    -webkit-font-smoothing: antialiased
    line-height: 1.5em

.video
    width: 70%

.map
    width: 100%

// bible study

.study
    width: 100%

    .bible-text
        margin: 1em 0 1em
        width: 100%

        p:first-child
            font: 1.1em $subheadline-font
            background-color: $accent-color

        p:nth-child(2)
            font: 1em $text-font
            background-color: $bibtext-color
            display: none
            height: 0
            overflow: scroll

    h1

        padding-right: 31%
        margin-bottom: 2.2em

    .comment
        font: .75em $text-font

    h2
        font: 1.5em $subheadline-font


    .h3
        font: $sub-heading

.arg
    display: none
