*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    text-decoration: none

html, body
    width: 100%
    height: 100%

body
    background-image: url("/assets/img/church.png")
    background-repeat: no-repeat
    background-position: 50% 4.5em
    background-attachment: fixed
    margin: 0
    padding: 0

    @media screen and (max-width:640px)
        background-size: 100%
        background-position: 50% 18.5em

.horizontal
    +flex-horizontal
    +flex-direction(row)
    +flex-wrap(wrap)

.top-bar
    z-index: 1
    width: 100%
    height: 60px
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    box-shadow: 0 .01em 1em 0em hsla(0, 6%, 72%, 1)

    img
        height: 3em
        margin-top: .05em

.lang
    font: 1em $default-font
    position: fixed
    right: 1.7em
    top: .3em

    p
        a
            color: $accent-color


.logo-wrap
    width: 100%
    background-color: hsla(360, 15%, 95%, 0.78) // only for cover
    // padding: 0 5.5em 0 - bring back
    // margin: 120px auto 2.5em - BRING BACK
    height: 23em // only for cover
    // max-width: 825px - BRING BACK

    p
        margin-top: 10em
        color: rgb(169, 163, 163)


.logo-wrap img
    height: 8em
    margin-top: 2em // only for cover

.logo p
    width: 100%
    margin: 0
