@media screen and (max-width:640px)

    .site-wrapper
        min-height: 70%
        width: 100%
        margin: 0
        border: none
        padding-bottom: 2em

    .top-bar
        .lang
            font: .85em 'Open Sans',sans-serif
            +position(fixed, .6em 1.7em null null)

        img
            height: 2.5em
            margin-top: .2em

    .content
        padding: 0 1.5em 3em

    .map, .video
        width: 100%

    .radio
        padding: 0 0

    .title
        p
            padding-top: .3em
            font-size: .69em
            text-transform: uppercase
            margin-top: 0

    .logo
        padding: 0

        img
            display: block

    .logo-wrap
        // margin: 100px auto 1.5em - BRING BACK


    /*************** trigger */
    #trigger
        display: block
        +position(fixed, .5em null auto 1em)
        +size(50px)

    .nav-trigger
        +size(50px)

        span
            top: 50%
            width: 30px
            height: .2rem

    .slide ul li
        font-size: 1.3em
        padding: .45em 0 .45em


    .container
        width: 90%
        margin: 2em

    .header
        padding: 0
        margin-bottom: .5em

        p
            font-size: 1.3em

    .banner
        margin-bottom: 1em

    .bio
        p
            font-size: .9em

        p:nth-child(9)
            font-size: 1.5em

        blockquote
            margin: 1em

        span
            font-size: 1.1em

    .line
        margin: 1em 0 .1em

    .notes
        text-align: center
        font-size: .65em


    .horizontal
        +flex-flow(row wrap)

    .footer
        padding: 0 .5em 0

        div
            height: auto
            width: 100%
            padding: 1.2em 1.2em 0


    .social img
        height: 2.2em


    // temas
    .bible
        h1
            width: 66%

    .thesis
        font-size: 16px
        text-align: justify

    .study

        .bible-text

            p:first-child
                padding: 0
                margin-top: 2em

            p:nth-child(2)
                margin: 0

        h2
            font-size: 1.3em
            padding: 0
            margin: 1.5em 0 1.5em

        h3
            margin: .5em 0 .5em

        .comment
            padding: 0

        .arg
            padding: 0 0 1em 1.5em

    // index resize
    #left-side
        width: 100%
        padding: 0

    #right-side
        width: 100%

@media screen and (max-height:400px)

    .slide
        ul
            margin-top: 0

            li
                font-size: 1em

//ipad//

// @media screen and (max-width: 820px)
//
//     .index-content
//         padding: 0 5.5em 3em
