#themes
    font: 300 1.2em $default-font

.options
    p
        font: 500 .9em $default-font


// inner tema
.study
    width: 100%
    color: $text-color

    .bible-text
        margin: 1em 0 1em
        width: 100%

        p:first-child
            font: 1.1em $default-font
            font-weight: 700

        p:nth-child(2)
            font: .9em $text-font
            background-color: $bibtext-color
            display: none
            height: 0
            overflow: scroll

    h1
        font: 700 2em $default-font
        padding-right: 56%
        margin-bottom: 1.6em

    .thesis
        font: 400 .9em $text-font
        text-align: justify
        padding-left: 23%
        color: $text-color
        line-height: 1.35em

    .comment
        font: .75em $text-font

    h2
        font: 1em $default-font


    h3
        font: 1em $default-font

.arg
    display: none
